<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PetvetPOS_Inventory_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<userSettings>
        <PetvetPOS_Inventory_System.Properties.Settings>
                <setting name="headerColor" serializeAs="String">
                        <value />
                </setting>
                <setting name="sidebarColor" serializeAs="String">
                        <value />
                </setting>
                <setting name="iconColor" serializeAs="String">
                        <value />
                </setting>
                <setting name="isSystemConfigured" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="CompanyName" serializeAs="String">
                        <value />
                </setting>
                <setting name="CompanyAddress" serializeAs="String">
                        <value />
                </setting>
                <setting name="CompanyContact" serializeAs="String">
                        <value />
                </setting>
                <setting name="CompanyEmail" serializeAs="String">
                        <value />
                </setting>
                <setting name="CompanyLogoImagPath" serializeAs="String">
                        <value />
                </setting>
                <setting name="SimpleMode" serializeAs="String">
                        <value>True</value>
                </setting>
        </PetvetPOS_Inventory_System.Properties.Settings>
    </userSettings>
</configuration>
